/**
 * Place your custom CSS styles here.
 **/
 
#Description > div.well {
	max-height: 800px;
    overflow: scroll;
    overflow-x: auto;
	background-color: #000000 !important;
	border: 0px solid #e8e8e8 !important;
}

.row {
    border-color: #404040 !important;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #333;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #444 !important
}

body {
    color: #dadada !important;
    background-color: #222 !important;
}

.nav-tabs {
	border-bottom: 0px solid #dddddd !important;
}

.col-lg-9.content-right {
    border-left: 1px dashed #444 !important;
}

.course-navigation {
    background-color: #222 !important; 
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    color: #cccccc !important;
    background-color: #707070 !important;
    border: 0px solid #ccc !important;
}

.aceEditor {
    border: 0px solid #999 !important;
}

.nav-tabs>li>a {
    background-color: #505050 !important;
    color: #eeeeee !important;
}

.assignment-row.root {
    background-color: #555 !important;
}

.assignment-row:hover {
    background-color: #000 !important;
}

.panel {
	background-color: #000000 !important;
}

#note code,
#note > div > div > pre,
#Description > div > pre {
    color: #ccc !important;
    background-color: #444 !important;
	border: 0px solid #cccccc !important; 
}

/*#note > div > div > code
#note > div > div > pre {
	background-color: #111 !important;
	color: #c7254e !important
}*/